@model WorkShop1.Models.Course

@{
    ViewData["Title"] = "Избриши предмет";
}

<h2>Избриши</h2>

<h3>Дали сте сигурни дека сакате да го избришете предметот?</h3>
<div>
    <h4>Предмет</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Credits)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Credits)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Semester)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Semester)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Programme)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Programme)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EducationLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EducationLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstTeacher)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstTeacher.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SecondTeacher)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SecondTeacher.FullName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Избриши" class="btn btn-default" /> |
        <a asp-action="Index">Назад кон листата</a>
    </form>
</div>
