@model WorkShop1.Models.Teacher

@{
    ViewData["Title"] = "Избриши професор";
}

<h2>Избриши</h2>

<h3>Дали сте сигурни дека сакате да го избришете професорот?</h3>
<div>
    <h4>Професор</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Degree)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Degree)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AcademicRank)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AcademicRank)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OfficeNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OfficeNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HireDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Избриши" class="btn btn-default" /> |
        <a asp-action="Index">Назад кон листата</a>
    </form>
</div>
